.login-page{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card{
    min-width: 500px;
    max-width: 50%;
    text-align: center;
  }
  
  
  .input-fields {
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }