<mat-toolbar color="primary">

    <button mat-icon-button class="home-button" routerLink="/">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Student Library Management</span>
    
    <span class="example-spacer"></span>

    <button mat-button class='navbar-item'>Back to NitishPatel.in</button>
    <mat-icon class="example-icon" >favorite</mat-icon>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<!-- <div mat-display-1>Hello</div>
<button mat-raised-button>Click</button>
<button mat-raised-button>Add Person</button>
<button mat-raised-button>Blink</button>
lOL -->